* {
  --board-dimension: 500px;
  --cell-dimension: calc(var(--board-dimension) / 9);

  font-size: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.board {
  width: var(--board-dimension);
  height: var(--board-dimension);
  margin: 0 auto;

  border: 1px solid black;
}

.row {
  height: var(--cell-dimension);

  display: flex;
}

.cell {
  width: var(--cell-dimension);

  display: grid;
  place-items: center;

  border: 1px solid black;

  font-size: 1.5rem;
}
